<?xml version="1.0"?>
<launch>
    <include file="$(find my_move)/launch/mitEEF/ur10e_EEF.launch">
    </include>

    <include file="$(find ur10_e_moveit_config)/launch/ur10_e_moveit_planning_execution.launch">
        <arg name="sim" value="true"/>
    </include>

    <include file="$(find ur5_moveit_config)/launch/moveit_rviz.launch">
        <arg name="config" value="true"/>
    </include>

</launch>
